
* {
	font-size:20px;
	line-height:200%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: #ffd6d6;
    background-color: #0e1642;

}
#task {
    border : 1px solid #ffd6d6;
    border-radius: 10px;
}

input[type="text"] {
    width:auto;
    height:30px;
    border: 1px #ffffff;
    background: #2d3b85;
    color: white;
    outline: 1px white;
}
input[type="submit"] {
    border: 1px #ffffff;
    background: #2d3b85;
    color: white;
    outline: 1px white;
}
input[type="submit"]:hover {
    background: #8190de;
    color: #131212;
    outline: 1px #2d3b85;
}

#parent {
    white-space: nowrap;
}
#parent p {
    display: inline;
}
.child {
    display: inline-block;

}
