<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Departments</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div id = "navbar">
        <form action="/cleardepartments/" method="post">
            <button class="modify" name="clearBtn" type="submit">Clear Departments</button>
        </form>
        <form action="/tasks" method="post">
            <button class="modify" name="tasksBtn" type="submit">Switch to Tasks</button>
        </form>
    </div>
    <div id ="parent">
    <h1>Add a new department</h1>
    <div class="child">
        <form action="" method = "POST">
            {{ form.hidden_tag() }}
            <p>Department: {{ form.name }}</p>
            {{ form.submit() }}
        </form>
    </div>
    </div>
    {% if errors|length > 0 %}
    <h3>You have the following errors:</h3>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    {% endif %}
    <br>
    {% for item in departments %}
        <div id = "task">
        <h3>Department: {{ item.name }}</h3>
        {% if item.members|length > 0 %}
        <p>Members:</p>
        {% endif %}
        {% for i in item.members %}
        <li>{{ i }} </li>
        {% endfor %}
        <br>
        <form action="" method = "POST">
            <input type="hidden" id="index" name="index" value="{{ loop.index }}">
            <p >{{ edit.hidden_tag() }} {{ edit.select }} {{ edit.field }} {{ edit.submit }}</p>
        </form>
        <form action="" method = "POST">
            <input type="hidden" id="index" name="index" value="{{ loop.index }}">
            <p >{{ delete.hidden_tag() }} {{ delete.submit }}</p>
        </form>
        </div>
    {% endfor %}
</body>
</html>