<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <h1>Flow</h1>
    <h3>Trello, but for education</h3>
    <br>
    <div class="inline">
        <form action="/departments" method="post">
            <button name="departmentsBtn" type="submit">Departments</button>
        </form>
        <form action="/tasks" method="post">
            <button id = "moveRight" name="tasksBtn" type="submit">Tasks</button>
        </form>
    </div>
    <br>
    <h2>What is Flow?</h2>
    <p>As students, our team noticed a problem that every K12 and college campus:
        A difficulty for students and faculty to track down and contact the correct people in
        an efficient manner. Flow helps students and teachers identify the people they need
        to contact to get in contact with in relation to a certain task</p>

    <h2>How does it work?</h2>
    <p>Flow keeps track of a list of departments, as well as a list of Tasks. Both lists are correlated
    so that users can easily determine the department they need to get in contact with to discuss a certain task</p>

    <h2>How do I use it?</h2>
    <p>Flow is a web application that can be accessed from any device with an internet connection.
        Click "Tasks" or "Departments" at the top of this page to look at a demo of this project</p>

</body>
</html>