<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='task.css') }}">
</head>
<body>
    <h1>Add a new task</h1>
    <div>
        <form action="" method = "POST">
            {{ form.hidden_tag() }}
            <p>Name: {{  form.name}}</p>
            <p>Description: {{ form.description }}</p>
            <p>Department: {{ form.department }}</p>
            {{ form.submit() }}
        </form>
    </div>
    <h2>Task List</h2>
    {% for item in tasks %}
        <h1>{{ item.name }}</h1>
        <p>{{ item.description }}</p>
        <p>{{ item.department }}</p>
        <p>Edit {{ edit.hidden_tag() }} {{ edit.select }} {{ edit.field }} {{ edit.submit }}</p>
        <br>
    {% endfor %}
</body>
</html>