<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasking</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <h1>Add a new task</h1>

    <div clsss = "child">
        <form action="" method = "POST">
            {{ form.hidden_tag() }}
            <p>Name: {{  form.name}}</p>
            <p>Description: {{ form.description }}</p>
            <p>Department: {{ form.department }}</p>
            {{ form.submit() }}
        </form>
    </div>

    {% if errors|length > 0 %}
    <h3>You have the following errors:</h3>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    {% endif %}
    {% if tasks|length > 0 %}
    <h2>Tasks</h2>
    {% endif %}
    {% for item in tasks %}
        <div id = "task">
        <h3>Task: {{ item.name }}</h3>
        <p>Description: {{ item.description }}</p>
        <p>Department: {{ item.department.name }}</p>
        <br>
        <form action="" method = "POST">
            <input type="hidden" id="index" name="index" value="{{ loop.index }}">
            <p >{{ edit.hidden_tag() }} {{ edit.select }} {{ edit.field }} {{ edit.submit }}</p>
        </form>
        <form action="" method = "POST">
            <input type="hidden" id="index" name="index" value="{{ loop.index }}">
            <p >Delete {{ delete.hidden_tag() }} {{ delete.submit }}</p>
        </form>
        </div>
    {% endfor %}
</body>
</html>