<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='task.css') }}">
</head>
<body>
    <h1>Add a new task</h1>
    <div>
        <form action="" method = "POST">
            {{ form.hidden_tag() }}
            <p>Name: {{  form.name}}</p>
            <p>Description: {{ form.description }}</p>
            <p>Department: {{ form.department }}</p>
            {{ form.submit() }}
        </form>
    </div>
    {% if tasks|length > 0 %}
    <h2>Task List</h2>
    {% endif %}
    {% for item in tasks %}
        <div id = "task">
        <h1>{{ item.name }}</h1>
        <p>{{ item.description }}</p>
        <p>{{ item.department.name }}</p>
        <form action="" method = "POST">
            <input type="hidden" id="index" name="index" value="{{ loop.index }}">
            <p >Edit {{ edit.hidden_tag() }} {{ edit.select }} {{ edit.field }} {{ edit.submit }}</p>
        </form>
        <form action="" method = "POST">
            <input type="hidden" id="index" name="index" value="{{ loop.index }}">
            <p >Delete {{ delete.hidden_tag() }} {{ delete.submit }}</p>
        </form>
        <br>
        </div>
    {% endfor %}
</body>
</html>